// ***************************************
// Colors
// ***************************************

$black      : #353434;
$blackish   : #817E7F;
$white      : #fbfbfb;
$light-bg   : #f4f7f9;
$light-grey : #c1bebf;
$grey       : #a19e9f;
$dark-grey  : #817e7f;
$blue-grey  : #D4DADC;
$blue       : #1794b2;
$hover-blue : #27A7C6;
$red        : #e52929;
$green      : #27C693;
$red        : #C33B3B;

// ***************************************
// Font Sizes - Mobile
// ***************************************

$h1-banner : 2.5em;
$h1        : 3em;
$h2        : 1.5em;
$p         : 1em;

// ***************************************
// Font Sizes - Desktop
// ***************************************

$h1-banner-lg : 4.5em;
$h1-lg        : 3em;
$h2-lg        : 2em;
$p-lg         : 1.25em;

// ***************************************
// Font Families
// ***************************************

$permanent-marker : 'Permanent Marker', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$lato             : 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$your-grace       : 'Covered By Your Grace', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

/***************************************
Device Sizes
***************************************/

$desk : 901px;