/***************************************
Colors
***************************************/

$black      : #353434;
$blackish   : #817E7F;
$white      : #fbfbfb;
$light-bg   : #f4f7f9;
$light-grey : #c1bebf;
$grey       : #a19e9f;
$dark-grey  : #817e7f;
$blue-grey  : #D4DADC;
$blue       : #1794b2;
$red        : #e52929;
$green      : #27C693;
$red        : #C33B3B;


/***************************************
Font Sizes
***************************************/

$h1-banner : 4.5em;
$h1        : 3em;
$h2        : 2em;
$p         : 1.25em;

/***************************************
Font Families
***************************************/

$permanent-marker : 'Permanent Marker', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$lato             : 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$your-grace       : 'Covered By Your Grace', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;