<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Motiviz</title>

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div id="app">
    <section id="banner">
      <h1>Motiviz</h1>
      <h2>Get inspirational texts from your favorite rappers.</h2>
    </section>

    <section class="info">
      {{{body}}}
    </section>

    <footer>
      <div class="social icon-twitter"></div>
      <div class="social icon-facebook2"></div>
    </footer>
  </div>
  <script src="js/script.js"></script>
</body>
</html>