<h2>Start Your Day Right</h2>
  <ul>
    <ol>1. Enter your Phone Number.</ol>
    <ol>2. Add us to your <a href="/Motiviz.vcf" download="motivizContact.vcf">contacts</a></ol>
    <ol>3. Be motivated.<ol>
  </ul>
  <div class="container">
    {{#if success}}
     {{> success}}
    {{/if}}
    {{#if error}}
      {{> error}}
    {{/if}}
    {{#if warning}}
      {{> warning}}
    {{/if}}
    <div class="sign-up">
      <form method="post" action="/">
        <div class="phone-form">
          <label class="phone-label icon-phone" for="phone" id="phone-label"></label>
          <input type="tel" name="phone" class="phone-input" id="phone-input">
        </div>
        <input type="submit" class="submit-btn" id="phone-submit" value="Sign Up">
      </form>
    </div>
  </div>